<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Thunderhead.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Thunderhead.My.MySettings>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="GlobalizationDisabled" serializeAs="String">
                <value />
            </setting>
            <setting name="MutualSSLEnabled" serializeAs="String">
                <value />
            </setting>
            <setting name="MutualSSLThumbprint" serializeAs="String">
                <value />
            </setting>
        </Thunderhead.My.MySettings>
    </userSettings>
</configuration>
